@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton-Font";
  src: url("../assets/fonts/Anton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AzeretMono-Font";
  src: url("../assets/fonts/AzeretMono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4d4d;

  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  background-image: url("../assets/images/paperTexture.jpg");
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Keep the image fixed in place */

  font-family: "azertomono-font", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.anton-font {
  font-family: "Anton-Font", sans-serif;
}

.azertomono-font {
  font-family: "AzeretMono-Font", sans-serif;
}

.color_gray_rgb102 {
  color: rgb(102, 102, 102);
}

.border-radius__3pxSolidAppGray {
  border: 3px solid #4d4d4d;
}

.tilt-left {
  transform: perspective(1200px) translateX(0px) translateY(0px) scale(1)
    rotate(-2deg) rotateX(0deg) rotateY(0deg) skewX(0deg) skewY(0deg)
    translateZ(0px);
}

.tilt-right {
  transform: perspective(1200px) translateX(0px) translateY(0px) scale(1)
    rotate(1deg) rotateX(0deg) rotateY(0deg) skewX(0deg) skewY(0deg)
    translateZ(0px);
}

.bg-color__hex4d4d4d {
  background-color: #4d4d4d;
}

.text-color__hex4d4d4d {
  color: #f1e9da;
}

.border-top__2pxDashed {
  border-top: 2px dashed;
}
